
.coreshop_icon_customers {
    background: url(../img/customer.svg) center center no-repeat !important;
}

.coreshop_icon_customer_group {
    background: url(../img/customer-group.svg) center center no-repeat !important;
}

.coreshop_icon_customer {
    background: url(../img/customer.svg) center center no-repeat !important;
}
