<section class="product-carousel">
    <h2 class="product-head">{{ 'coreshop.ui.latest_products'|trans }}</h2>

    <div class="row">
        <div class="col-12 p-0">
            <div id="owl-product" class="owl-carousel">
                {% for product in products %}
                <div class="item">
                    {% include '@CoreShopFrontend/Product/_preview.html.twig' with {'product': product} %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>