<nav id="main-menu" class="navbar navbar-expand-md navbar-light bg-green" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarcatcollapse" aria-controls="#navbarcatcollapse" aria-expanded="false" aria-label="{{ 'coreshop.ui.toggle_navigation'|trans }}">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div id="navbarcatcollapse" class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                {% for category in categories %}
                    {% set dropdown = category.hasChildCategories %}

                    <li class="nav-item{% if dropdown %} dropdown {% endif %}">
                        <!-- TODO: URL -->
                        <a href="{{ path('coreshop_category_list', {name: category.getName, category: category.getId}) }}" class="nav-link{% if dropdown %} dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10{%  endif %}">
                            {{ category.getName() }}
                        </a>

                        {% if dropdown  %}
                            <ul class="dropdown-menu" role="menu">
                                {% for childCategory in category.getChildCategories() %}
                                    <li class="dropdown-item">
                                        <!-- TODO: URL -->
                                        <a tabindex="-1" href="#">
                                            {{ childCategory.getName() }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif  %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>