<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'coreshop.ui.language'|trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="languageDropdown">
        {% for language in languages %}
            <a class="dropdown-item" href="#">{{ 'locale_' ~ language|trans }}</a>
        {% endfor %}
    </div>
</li>