######################
# Compiled source    #
######################
*.com
*.class
*.dll
*.exe
*.o
*.so

######################
# Packages           #
######################
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar

######################
# Logs and databases #
######################
*.log

######################
# Global             #
######################
.DS_Store
.DS_Store\?
._*
.Spotlight-V100
.Trashes
Icon\?
*.sublime-workspace
*.sublime-project
atlassian-ide-plugin.xml
.idea/
.project
ehthumbs.db
Thumbs.db
generate-and-copy.sh
docs/generate-api.sh
docs/generate-docs.sh
phpda.html
parameters.yml
var
.env.local
composer.lock
config/local/
config/pimcore/
.php-version
etc/build
public/bundles
public/var
drivers
vendor/
cache/
docs/generated-docs