<!--
  ~ CoreShop.
  ~
  ~ This source file is subject to the GNU General Public License version 3 (GPLv3)
  ~ For the full copyright and license information, please view the LICENSE.md and gpl-3.0.txt
  ~ files that are distributed with this source code.
  ~
  ~ @copyright  Copyright (c) 2015-2020 Dominik Pfaffenbauer (https://www.pfaffenbauer.at)
  ~ @license    https://www.coreshop.org/license     GNU General Public License version 3 (GPLv3)
  ~
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/phpunit-bootstrap.php">
    <testsuites>
        <testsuite name="CoreShop">
            <file>tests/lib/CoreShop/Test/PHPUnit/Suites/AllTests.php</file>
        </testsuite>

        <testsuite name="Component-Pimcore">
            <file>tests/lib/CoreShop/Test/PHPUnit/Component/Pimcore/Suite.php</file>
        </testsuite>
    </testsuites>
    <php>
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />

        <env name="KERNEL_CLASS" value="TestAppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="200"/>
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
