<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>CoreShop</pluginName>

            <!-- a short description -->
			<pluginDescription><![CDATA[]]></pluginDescription>

            <!-- meta data -->
            <pluginVersion>0.0.1</pluginVersion>
            <pluginRevision>1</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /plugin/CoreShop/admin/index -->
            <pluginIframeSrc></pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>CoreShop\Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/CoreShop/lib</path>
				<path>/CoreShop/models</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>CoreShop</namespace>
			</pluginNamespaces>

			<!-- js files with path relative to plugin-directory -->
			<pluginJsPaths>
                <path>/plugins/CoreShop/static/js/startup.js</path>
			</pluginJsPaths>

			<!-- css files with path relative to plugin-directory -->
			<pluginCssPaths>
                <path>/plugins/CoreShop/static/css/example.css</path>
			</pluginCssPaths>
		</plugin>
</zend-config>
