<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <plugin>
    <pluginName>CoreShop</pluginName>
    <pluginDescription>
            CoreShop is the first OpenSource Onlineshop plugin for Pimcore.
        </pluginDescription>
    <pluginVersion>0.2</pluginVersion>
    <pluginRevision>36</pluginRevision>
    <pluginBuildTimestamp>1455528642</pluginBuildTimestamp>
    <pluginGitRevision>f6de8b1b9efb2880004c209182e8189fa6ca3adc</pluginGitRevision>
    <pluginClassName>\CoreShop\Plugin</pluginClassName>
    <pluginIncludePaths>
      <path>/CoreShop/lib</path>
      <path>/CoreShop/lib/Pimcore/Model</path>
      <path>/CoreShop/models</path>
    </pluginIncludePaths>
    <pluginNamespaces>
      <namespace>CoreShop</namespace>
    </pluginNamespaces>
    <pluginJsPaths-extjs6>
      <path>/plugins/CoreShop/static/js/startup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/plugin/broker.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/plugin/plugin.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/helper.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/global.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/settings.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/update.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/abstract/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/abstract/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/currencies/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/currencies/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/countries/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/countries/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/zones/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/zones/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/multiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/select.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/data.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/dataMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCountryMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCountryMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCountry.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCountry.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCarrier.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCarrier.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopPriceRule.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopPriceRule.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCurrencyMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCurrencyMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCurrency.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCurrency.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/action.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/condition.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/actions/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/amount.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/category.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/country.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/customer.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/customerGroup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/product.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/timeSpan.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/totalAvailable.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/totalPerCustomer.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/conditions/zone.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/actions/freeShipping.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/actions/discountAmount.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/actions/discountPercent.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/pricerules/actions/gift.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/carriers/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/carriers/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/orderstates/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/orderstates/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopOrderState.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopOrderState.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/broker.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/install/install.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/taxes/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/taxes/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/taxrulegroups/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/taxrulegroups/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopTaxRuleGroup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopTaxRuleGroup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/layout/portlets/ordersAndCartsFromLastDays.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/layout/portlets/salesFromLastDays.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/customergroups/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/customergroups/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCustomerGroup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCustomerGroup.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/tags/coreShopCustomerGroupMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/classes/data/coreShopCustomerGroupMultiselect.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/object/variantGenerator.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/specificprice.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/specificprice/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/specificprice/actions/newPrice.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/orders/grid.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/orders/invoice.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/indexes/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/indexes/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/indexes/fields.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/indexes/elements/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/indexes/elements/mysql/default.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/item.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/panel.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/condition.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/conditions/abstract.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/conditions/select.js</path>
      <path>/plugins/CoreShop/static/js/coreshop/product/filters/conditions/multiselect.js</path>
    </pluginJsPaths-extjs6>
    <pluginDocumentEditmodeJsPaths>
      <path>/CoreShop/static/js/coreshop/document/tags/product.js</path>
      <path>/CoreShop/static/js/coreshop/document/tags/coreshopareablock.js</path>
      <path>/CoreShop/static/js/coreshop/document/tags/coreshoparea.js</path>
    </pluginDocumentEditmodeJsPaths>
    <pluginCssPaths-extjs6>
      <path>/plugins/CoreShop/static/css/coreshop.css</path>
    </pluginCssPaths-extjs6>
  </plugin>
</zend-config>
