<nav id="main-menu" class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">{{ 'toggle_navigation'|trans }}</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                {% for category in categories %}
                    {% set dropdown = category.hasChildCategories %}

                    <li class="{% if dropdown %} dropdown {% endif %}">
                        <!-- TODO: URL -->
                        <a href="#" {% if dropdown %} class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10" {%  endif %}>
                            {{ category.getName() }}
                        </a>

                        {% if dropdown  %}
                            <ul class="dropdown-menu" role="menu">
                                {% for childCategory in category.getChildCategories() %}
                                    <li>
                                        <!-- TODO: URL -->
                                        <a tabindex="-1" href="#">
                                            {{ childCategory.getName() }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif  %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>