<div class="col-md-3">
    <!-- TODO: URL -->
    <!-- TOOD: FORM -->
    <form id="search" method="get" action="#">
        <div class="input-group">
          <input type="text" name="text" class="form-control input-lg" placeholder="{{ 'search'|trans }}">
          <span class="input-group-btn">
            <button class="btn btn-lg" type="button">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    </form>
</div>