.coreshop_icon_price_rule, .coreshop_icon_product_specific_price_rules, .pimcore_icon_coreShopProductSpecificPriceRules {
    background: url(../img/price-rules.svg) center center no-repeat !important;
}

.coreshop_nav_icon_price_rule {
    background: url(../img/price-rules.svg) center center no-repeat !important;
}

body.pimcore_version_10 .coreshop_nav_icon_price_rule {
    background: url(../img/price-rules_white.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_products {
    background: url(../img/product.svg) center center no-repeat !important;
}

.coreshop_icon_product {
    background: url(../img/product.svg) center center no-repeat !important;
}

.coreshop_nav_icon_product {
    background: url(../img/product.svg) center center no-repeat !important;
}

body.pimcore_version_10 .coreshop_nav_icon_product {
    background: url(../img/product_white.svg) center center no-repeat !important;
}

.coreshop_icon_product_blue {
    background: url(../img/product_blue.svg) center center no-repeat !important;
}

.coreshop_icon_product_green {
    background: url(../img/product_green.svg) center center no-repeat !important;
}

.coreshop_icon_product_list {
    background: url(../img/product-list.svg) center center no-repeat !important;
}

.coreshop_icon_category {
    background: url(../img/category.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_nested {
    background: url(../img/conditions.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_quantity {
    background: url(../img/cart.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_categories {
    background: url(../img/category.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_products {
    background: url(../img/product.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_timespan {
    background: url(../img/time-span.svg) center center no-repeat !important;
}

.coreshop_rule_icon_action_discountAmount,
.coreshop_rule_icon_action_discountPercent,
.coreshop_rule_icon_action_price,
.coreshop_rule_icon_action_discountPrice {
    background: url(../img/currencies.svg) center center no-repeat !important;
}

.pimcore_icon_coreShopPriceRule, .coreshop_icon_priceRule {
    background: url(../img/currencies.svg) center center no-repeat !important;
}

.coreshop_icon_product_units {
    background: url(../img/product-units.svg) center center no-repeat !important;
}

.coreshop_nav_icon_product_units, .pimcore_icon_coreShopProductUnitDefinitions, .pimcore_icon_coreShopProductUnitDefinition, .pimcore_icon_coreShopProductUnit {
    background: url(../img/product-units.svg) center center no-repeat !important;
}

body.pimcore_version_10 .coreshop_nav_icon_product_units {
    background: url(../img/product-units_white.svg) center center no-repeat !important;
}

.coreshop_icon_product_unit {
    background: url(../img/product-unit.svg) center center no-repeat !important;
}
.pimcore_droptarget_unit_definition_input  {
    background: url(../img/product-unit.svg) right 5px center/20px no-repeat transparent !important;
    cursor: default;
}
