<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} CoreShop</title>

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {% include '@CoreShopFrontend/_stylesheets.html.twig' with {'path': '/bundles/coreshopfrontend/static/css/shop.css'} %}
        {% include '@CoreShopFrontend/_stylesheets.html.twig' with {'path': '/bundles/coreshopfrontend/static/css/owl.carousel.css'} %}
    {% endblock %}
</head>

<body>
{% block header %}
    <header>
        {% include '@CoreShopFrontend/_header.html.twig' %}
    </header>
{% endblock %}

<div class="ui container">
    {% include '@CoreShopFrontend/Common/global_flash_messages.html.twig' %}

    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    {% include '@CoreShopFrontend/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/vendor/jquery-1.11.1.min.js'} %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/vendor/bootstrap.min.js'} %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/vendor/owl.carousel.min.js'} %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/handle-prototypes.js'} %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/custom.js'} %}
    {% include '@CoreShopFrontend/_javascripts.html.twig' with {'path': 'bundles/coreshopfrontend/static/js/shop.js'} %}
{% endblock %}
</body>
</html>
