{% extends '@CoreShopFrontend/Mail/layout.html.twig' %}

{% block mail %}
    <table class="row"
           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0; position: relative; width: 100%; display: table;">
        <tbody>
        <tr style="padding: 0; vertical-align: top; text-align: left;">
            <th class="small-12 large-12 first last columns"
                style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: 400; padding: 0; text-align: left; font-size: 16px; line-height: 1.3; margin: 0 auto; padding-bottom: 16px; width: 564px; padding-left: 0; padding-right: 0;">
                <table style="border-spacing: 0; border-collapse: collapse; padding: 0; vertical-align: top; text-align: left; width: 100%;">
                    <tr style="padding: 0; vertical-align: top; text-align: left;">
                        <th style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: 400; padding: 0; margin: 0; text-align: left; font-size: 16px; line-height: 1.3;">
                            <p style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: 400; padding: 0; margin: 0; text-align: left; margin-bottom: 10px; font-size: 16px; line-height: 1.3;">
                                {{ pimcore_wysiwyg('text') }}
                            </p></th>
                        <th class="expander"
                            style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: 400; margin: 0; text-align: left; font-size: 16px; line-height: 1.3; visibility: hidden; width: 0; padding: 0;"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}