{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="col-md-3">
    {{ form_start(form, {'attr' : {'id': 'search'}}) }}
        <div class="input-group">
            {{ form_row(form.text, {'label' : false, 'attr' : {'class': 'input-lg'}}) }}
            <!--<input type="text" name="text" class="form-control input-lg" placeholder="{{ 'search'|trans }}">-->
            <span class="input-group-btn">
            <button class="btn btn-lg" type="submit">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    {{ form_end(form) }}
</div>