{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="col-md-3 p-sm-2">
    {{ form_start(form, {'attr' : {'id': 'search'}}) }}
        <div class="input-group">
            {{ form_row(form.text, {'label' : false,  'attr' : {'placeholder':'coreshop.ui.search'|trans,'class': 'form-control-lg'}}) }}
            <!--<input type="text" name="text" class="form-control form-control-lg" placeholder="{{ 'coreshop.ui.search'|trans }}">-->
        </div>
    {{ form_end(form) }}
</div>