<div class="product-texts my-_5">
    {% for attribute in group.attributes|sort((a, b) => a.attribute.sorting <=> b.attribute.sorting) %}
        {% if loop.index0 < 3 %}
            <a class="btn btn-sm btn-white product-texts__item">
                {{ attribute.attribute.name }}
            </a>
        {% endif %}
    {% endfor %}
    {% if group.attributes|length > 3 %}
        <span class="ms-_5 fs-lead fs-lg-5 lh-1">
            <strong>+ {{ group.attributes|length - 3 }}</strong>
        </span>
    {% endif %}
</div>