
.td-icon {
}

.td-icon .x-grid-cell-inner {
    padding-left:25px;
}

#coreshop_status {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg)
}

#pimcore_menu_coreshop {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg) !important;
    width:100%;
    height:100%;
}

.icon-coreshop-shop:before { content: '\e800'; } /* '' */

.coreshop_icon_logo {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.coreshop_icon_settings {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}
.coreshop_icon_localization {
    background: url(/pimcore/static6/img/flat-color-icons/collaboration.svg) center center no-repeat !important;
}
.coreshop_icon_currency, .pimcore_icon_coreShopCurrencyMultiselect, .pimcore_icon_coreShopCurrency {
    background: url(/plugins/CoreShop/static/img/flat/currencies.svg) center center no-repeat !important;
}
.coreshop_icon_country, .pimcore_icon_coreShopCountryMultiselect, .pimcore_icon_coreShopCountry{
    background: url(/plugins/CoreShop/static/img/flat/countries.svg) center center no-repeat !important;
}

.coreshop_icon_zone, .coreshop_rule_icon_condition_zone, .coreshop_rule_icon_condition_zones {
    background: url(/plugins/CoreShop/static/img/flat/zones.svg) center center no-repeat !important;
}

.pimcore_icon_data_group_coreshop {
    background: url(/plugins/CoreShop/static/img/logo.svg) center center no-repeat !important;
}

.coreshop_icon_create_order {
    background: url(/plugins/CoreShop/static/img/flat/orders.svg) center center no-repeat !important;
}

.coreshop_icon_price_rule {
    background: url(/plugins/CoreShop/static/img/flat/price-rules.svg) center center no-repeat !important;
}

.coreshop_rule_conditions {
    background: url(/plugins/CoreShop/static/img/flat/search.svg) center center no-repeat !important;
}

.coreshop_rule_actions {
    background: url(/plugins/CoreShop/static/img/flat/lightning.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_amount {
    background: url(/plugins/CoreShop/static/img/flat/currencies.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_weight {
    background: url(/plugins/CoreShop/static/img/flat/weight.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_dimension {
    background: url(/plugins/CoreShop/static/img/flat/dimension.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_postcodes {
    background: url(/plugins/CoreShop/static/img/flat/postcode.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_quantity {
    background: url(/plugins/CoreShop/static/img/flat/cart.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_category, .coreshop_rule_icon_condition_categories {
    background: url(/plugins/CoreShop/static/img/flat/category.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_customer, .coreshop_rule_icon_condition_customers {
    background: url(/plugins/CoreShop/static/img/flat/customer.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_country, .coreshop_rule_icon_condition_countries {
    background: url(/plugins/CoreShop/static/img/flat/countries.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_product, .coreshop_rule_icon_condition_products {
    background: url(/plugins/CoreShop/static/img/flat/product.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_timeSpan {
    background: url(/plugins/CoreShop/static/img/flat/time-span.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_totalAvailable {
    background: url(/plugins/CoreShop/static/img/flat/cart.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_totalPerCustomer {
    background: url(/plugins/CoreShop/static/img/flat/customer-group.svg) center center no-repeat !important;
}

.coreshop_rule_icon_action_freeShipping {
    background: url(/plugins/CoreShop/static/img/flat/free-shipping.svg) center center no-repeat !important;
}

.coreshop_rule_icon_action_discountAmount,
.coreshop_rule_icon_action_discountPercent,
.coreshop_rule_icon_action_newPrice,
.coreshop_rule_icon_action_additionAmount,
.coreshop_rule_icon_action_additionPercent,
.coreshop_rule_icon_action_fixedPrice{
    background: url(/plugins/CoreShop/static/img/flat/currencies.svg) center center no-repeat !important;
}

.coreshop_rule_icon_action_gift {
    background: url(/plugins/CoreShop/static/img/flat/gift.svg) center center no-repeat !important;
}

.pimcore_icon_coreShopPriceRule, .coreshop_icon_priceRule {
    background: url(/plugins/CoreShop/static/img/flat/currencies.svg) center center no-repeat !important;
}

.coreshop_icon_carriers, .coreshop_icon_carrier, .pimcore_icon_coreShopCarrier, .coreshop_icon_report_carriers, .coreshop_rule_icon_condition_carriers {
    background: url(/plugins/CoreShop/static/img/flat/carriers.svg) center center no-repeat !important;
}

.coreshop_icon_shipping {
    background: url(/plugins/CoreShop/static/img/flat/carriers.svg) center center no-repeat !important;
}

.coreshop_carrier_dimensions_icon {
    background: url(/plugins/CoreShop/static/img/flat/box.svg) center center no-repeat !important;
}

.coreshop_carrier_costs_icon {
    background: url(/plugins/CoreShop/static/img/flat/currencies.svg) center center no-repeat !important;
}

.coreshop_icon_order {
    background: url(/plugins/CoreShop/static/img/flat/orders.svg) center center no-repeat !important;
}

.coreshop_icon_order_states, .pimcore_icon_coreShopOrderState {
    background: url(/plugins/CoreShop/static/img/flat/order-states.svg) center center no-repeat !important;
}

.coreshop_icon_taxes {
    background: url(/plugins/CoreShop/static/img/flat/taxes.svg) center center no-repeat !important;
}

.coreshop_icon_tax_rule_groups, .pimcore_icon_coreShopTaxRuleGroup {
    background: url(/plugins/CoreShop/static/img/flat/taxes.svg) center center no-repeat !important;
}

.coreshop_icon_customers {
    background: url(/plugins/CoreShop/static/img/flat/customer.svg) center center no-repeat !important;
}

.coreshop_icon_plugins {
    background: url(/plugins/CoreShop/static/img/flat/plugin.svg) center center no-repeat !important;
}

.pimcore_icon_update {
    background: url(/plugins/CoreShop/static/img/flat/update.svg) center center no-repeat !important;
}

.coreshop_icon_setup {
    background: url(/plugins/CoreShop/static/img/flat/setup.svg) center center no-repeat !important;
}

.coreshop_icon_customer_groups, .pimcore_icon_coreShopCustomerGroupMultiselect, .pimcore_icon_coreShopCustomerGroup, .coreshop_rule_icon_condition_customerGroup, .coreshop_rule_icon_condition_customerGroups {
    background: url(/plugins/CoreShop/static/img/flat/customer-group.svg) center center no-repeat !important;
}

.coreshop_icon_orders {
    background: url(/plugins/CoreShop/static/img/flat/orders.svg) center center no-repeat !important;
}

.coreshop_icon_orders_invoice {
    background: url(/plugins/CoreShop/static/img/flat/invoice.svg) center center no-repeat !important;
}

.coreshop_icon_indexes, .coreshop_icon_indexes_fields {
    background: url(/plugins/CoreShop/static/img/flat/indexes.svg) center center no-repeat !important;
}

.coreshop_icon_product_filters, .pimcore_icon_coreShopFilter {
    background: url(/plugins/CoreShop/static/img/flat/filters.svg) center center no-repeat !important;
}

.coreshop_icon_product {
    background: url(/plugins/CoreShop/static/img/flat/product.svg) center center no-repeat !important;
}

.coreshop_icon_product_list {
    background: url(/plugins/CoreShop/static/img/flat/product-list.svg) center center no-repeat !important;
}

.coreshop_product_filters_preconditions {
    background: url(/plugins/CoreShop/static/img/flat/search.svg) center center no-repeat !important;
}

.coreshop_product_filters_filters {
    background: url(/plugins/CoreShop/static/img/flat/filter-empty.svg) center center no-repeat !important;
}

.coreshop_product_filters_icon_conditions_select {
    background: url(/plugins/CoreShop/static/img/flat/filter-select.svg) center center no-repeat !important;
}

.coreshop_product_filters_icon_conditions_multiselect {
    background: url(/plugins/CoreShop/static/img/flat/filter-multiselect.svg) center center no-repeat !important;
}

.coreshop_product_filters_icon_conditions_range {
    background: url(/plugins/CoreShop/static/img/flat/filter-range.svg) center center no-repeat !important;
}
.coreshop_product_filters_icon_conditions_boolean {
    background: url(/plugins/CoreShop/static/img/flat/filter-boolean.svg) center center no-repeat !important;
}

.coreshop_icon_language, .pimcore_icon_coreShopLanguage {
    background: url(/plugins/CoreShop/static/img/flat/language.svg) center center no-repeat !important;
}

.coreshop_icon_more {
    background: url(/plugins/CoreShop/static/img/flat/cart.svg) center center no-repeat !important;
}

.coreshop_icon_report {
    background: url(/plugins/CoreShop/static/img/flat/charts.svg) center center no-repeat !important;
}

.coreshop_icon_report_carts {
    background: url(/plugins/CoreShop/static/img/flat/cart.svg) center center no-repeat !important;
}

.coreshop_icon_report_sales {
    background: url(/plugins/CoreShop/static/img/flat/sales.svg) center center no-repeat !important;
}

.coreshop_icon_category {
    background: url(/plugins/CoreShop/static/img/flat/category.svg) center center no-repeat !important;
}

.coreshop_icon_customer {
    background: url(/plugins/CoreShop/static/img/flat/customer.svg) center center no-repeat !important;
}

.coreshop_icon_quantity {
    background: url(/plugins/CoreShop/static/img/flat/stock.svg) center center no-repeat !important;
}

.coreshop_icon_report_payments, .coreshop_icon_payment {
    background: url(/plugins/CoreShop/static/img/flat/payments.svg) center center no-repeat !important;
}

.coreshop_icon_monitoring {
    background: url(/plugins/CoreShop/static/img/flat/monitor.svg) center center no-repeat !important;
}

.coreshop_icon_manufacturers, .pimcore_icon_coreShopManufacturer, .pimcore_icon_coreShopManufacturerMultiselect {
    background: url(/plugins/CoreShop/static/img/flat/manufacturer.svg) center center no-repeat !important;
}

.coreshop_icon_state, .pimcore_icon_coreShopState {
    background: url(/plugins/CoreShop/static/img/flat/state.svg) center center no-repeat !important;
}

.coreshop_icon_messaging {
    background: url(/plugins/CoreShop/static/img/flat/messaging.svg) center center no-repeat !important;
}

.coreshop_icon_messaging_contact {
    background: url(/plugins/CoreShop/static/img/flat/messaging-contact.svg) center center no-repeat !important;
}

.coreshop_icon_messaging_thread_state {
    background: url(/plugins/CoreShop/static/img/flat/messaging-thread-state.svg) center center no-repeat !important;
}

.coreshop_icon_messaging_thread {
    background: url(/plugins/CoreShop/static/img/flat/messaging-thread.svg) center center no-repeat !important;
}

.coreshop_product_similarity {
    background: url(/plugins/CoreShop/static/img/flat/similarity.svg) center center no-repeat !important;
}

.coreshop_product_filters_icon_similarities_field {
    background: url(/plugins/CoreShop/static/img/flat/similarities-field.svg) center center no-repeat !important;
}

.coreshop_icon_shop, .pimcore_icon_coreShopShopMultiselect, .pimcore_icon_coreShopShop, .coreshop_rule_icon_condition_shop, .coreshop_rule_icon_condition_shops {
    background: url(/plugins/CoreShop/static/img/flat/shop.svg) center center no-repeat !important;
}

.coreshop_rule_icon_condition_persona, .coreshop_rule_icon_condition_personas {
    background: url(/pimcore/static6/img/flat-color-icons/businessman.svg) center center no-repeat !important;
}

.coreshop_price_rule_vouchers {
    background: url(/plugins/CoreShop/static/img/flat/voucher.svg) center center no-repeat !important;
}

.coreshop_icon_carrier_shipping_rule {
    background: url(/plugins/CoreShop/static/img/flat/shippingrules.svg) center center no-repeat !important;
}

.x-tool-coreshop-open {
    background: url(/pimcore/static6/img/flat-color-icons/cursor.svg) center center no-repeat !important;
}

.x-tool-coreshop-add {
    background: url(/plugins/CoreShop/static/img/flat/add.svg) center center no-repeat !important;
}

.coreshop_inline_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.coreshop_messaging_message {
    border: solid 1px #ccc!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.coreshop_carrier_delete {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px!important;
    border-width: 0;
}

.coreshop_carrier_delete.x-btn-over {
    background:transparent!important;
}

.rounded-color {
    border-radius: 20px;
    padding: 0px 10px;
}

.badge-container {
    padding:5px 0;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.coreshop_order_big {
    font-size:18px;
    font-weight:bold;
}

.x-panel.coreshop-order > .x-panel-default-outer-border-trl,
.x-panel.coreshop-order > .x-panel-default-outer-border-rbl {
    border:0;
}

.x-panel.coreshop-order .x-panel-header-default {
    background: white;
    border-bottom: #ccc solid 1px!important;
    font-weight:bold;
    padding:5px;
}

.x-panel.coreshop-order .x-title-text {
    font-weight: bold;
    font-size: 12px
}

.coreshop-order-detail-grid .x-grid-row .x-grid-cell:first-child .x-grid-cell-inner{
    padding: 5px 0 0 0;
}

.coreshop-order-detail-grid .x-grid-row .x-grid-cell-inner {
    height: 32px;
}

.coreshop-order-detail-grid .x-column-header {
    background:white;
    border-right-color:white;
    font-size:13px;
}

.coreshop-order-detail-grid .x-grid-body {
    border-color: #36d672;
}

.x-panel.x-coreshop-alert {
    margin: 10px 0;
}

.x-panel.x-coreshop-alert .x-panel-body {
    border-left: solid 3px #eab3b7;
    padding: 15px;
    background: #FFE2E4;
    color: #D27C82;
    border-radius: 5px;
}

.coreshop_settings_inherited {
    background:#dad9d9 !important;
    filter: Alpha(opacity=60) !important;
    opacity: 0.6 !important;
}