
.td-icon {
}

.td-icon .x-grid-cell-inner {
    padding-left:25px;
}

#coreshop_status {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg)
}

#pimcore_menu_coreshop {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg) !important;
    width:100%;
    height:100%;
}

.icon-coreshop-shop:before { content: '\e800'; } /* '' */

.coreshop_icon_logo {
    background-image: url(/plugins/CoreShop/static/img/logo-fill.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.coreshop_icon_settings {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}
.coreshop_icon_localization {
    background: url(/pimcore/static6/img/flat-color-icons/collaboration.svg) center center no-repeat !important;
}
.coreshop_icon_currency, .pimcore_icon_coreShopCurrencyMultiselect, .pimcore_icon_coreShopCurrency {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}
.coreshop_icon_country, .pimcore_icon_coreShopCountryMultiselect, .pimcore_icon_coreShopCountry{
    background: url(/plugins/CoreShop/static/img/24/countries.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_zone, .coreshop_price_rule_icon_condition_zone {
    background: url(/plugins/CoreShop/static/img/24/zones.png) no-repeat scroll left center transparent !important;
}

.pimcore_icon_data_group_coreshop {
    background: url(/plugins/CoreShop/static/img/24/cart.png) no-repeat scroll left center transparent !important;
}

.pimcore_icon_objectSelect {
    background: url(/plugins/CoreShop/static/img/24/select.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_create_order {
    background: url(/plugins/CoreShop/static/img/24/orders.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_price_rule {
    background: url(/plugins/CoreShop/static/img/24/price-rules.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_settings {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}

.coreshop_price_rule_conditions {
    background: url(/plugins/CoreShop/static/img/24/search.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_actions {
    background: url(/plugins/CoreShop/static/img/24/lightning.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_amount {
    background: url(/plugins/CoreShop/static/img/24/cart.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_category {
    background: url(/plugins/CoreShop/static/img/24/category.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_customer {
    background: url(/plugins/CoreShop/static/img/24/customer.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_country {
    background: url(/plugins/CoreShop/static/img/24/countries.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_product {
    background: url(/plugins/CoreShop/static/img/24/product.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_timeSpan {
    background: url(/plugins/CoreShop/static/img/24/time_span.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_totalAvailable {
    background: url(/plugins/CoreShop/static/img/24/cart.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_condition_totalPerCustomer {
    background: url(/plugins/CoreShop/static/img/24/customer-group.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_action_freeShipping {
    background: url(/plugins/CoreShop/static/img/24/free_shipping.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_action_discountAmount {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_action_discountPercent {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_action_newPrice {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}

.coreshop_price_rule_icon_action_gift {
    background: url(/plugins/CoreShop/static/img/24/gift.png) no-repeat scroll left center transparent !important;
}

.pimcore_icon_coreShopPriceRule, .coreshop_icon_priceRule {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_carriers, .coreshop_icon_carrier, .pimcore_icon_coreShopCarrier, .coreshop_icon_report_carriers {
    background: url(/plugins/CoreShop/static/img/24/carriers.png) no-repeat scroll left center transparent !important;
}

.coreshop_carrier_settings_icon {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important
}

.coreshop_icon_shipping {
    background: url(/plugins/CoreShop/static/img/24/carriers.png) no-repeat scroll left center transparent !important;
}

.coreshop_carrier_dimensions_icon {
    background: url(/plugins/CoreShop/static/img/24/box.png) no-repeat scroll left center transparent !important;
}

.coreshop_carrier_costs_icon {
    background: url(/plugins/CoreShop/static/img/24/currencies.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_order {
    background: url(/plugins/CoreShop/static/img/24/orders.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_order_states, .pimcore_icon_coreShopOrderState {
    background: url(/plugins/CoreShop/static/img/24/order-states.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_taxes {
    background: url(/plugins/CoreShop/static/img/24/taxes.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_tax_rule_groups, .pimcore_icon_coreShopTaxRuleGroup {
    background: url(/plugins/CoreShop/static/img/24/taxes.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_customers {
    background: url(/plugins/CoreShop/static/img/24/customer.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_plugins {
    background: url(/plugins/CoreShop/static/img/24/plugin.png) no-repeat scroll left center transparent !important;
}

.pimcore_icon_update {
    background: url(/plugins/CoreShop/static/img/24/update.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_setup {
    background: url(/plugins/CoreShop/static/img/24/setup.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_customer_groups, .pimcore_icon_coreShopCustomerGroupMultiselect, .pimcore_icon_coreShopCustomerGroup, .coreshop_price_rule_icon_condition_customerGroup {
    background: url(/plugins/CoreShop/static/img/24/customer-group.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_orders {
    background: url(/plugins/CoreShop/static/img/24/orders.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_orders_invoice {
    background: url(/plugins/CoreShop/static/img/24/invoice.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_indexes_settings {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important
}

.coreshop_icon_indexes, .coreshop_icon_indexes_fields {
    background: url(/plugins/CoreShop/static/img/24/indexes.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_product_filters, .pimcore_icon_coreShopFilter {
    background: url(/plugins/CoreShop/static/img/24/filters.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_product {
    background: url(/plugins/CoreShop/static/img/24/product.png) no-repeat scroll left center transparent !important;
}

.coreshop_product_filters_preconditions {
    background: url(/plugins/CoreShop/static/img/24/search.png) no-repeat scroll left center transparent !important;
}

.coreshop_product_filters_filters {
    background: url(/plugins/CoreShop/static/img/24/filter-empty.png) no-repeat scroll left center transparent !important;
}

.coreshop_product_filters_icon_condition_select {
    background: url(/plugins/CoreShop/static/img/24/select.png) no-repeat scroll left center transparent !important;
}

.coreshop_product_filters_icon_condition_multiselect {
    background: url(/plugins/CoreShop/static/img/24/multiselect.png) no-repeat scroll left center transparent !important;
}

.coreshop_product_filters_icon_condition_range {
    background: url(/plugins/CoreShop/static/img/24/range.png) no-repeat scroll left center transparent !important;
}
.coreshop_product_filters_icon_condition_boolean {
    background: url(/plugins/CoreShop/static/img/24/range.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_language, .pimcore_icon_coreShopLanguage {
    background: url(/plugins/CoreShop/static/img/24/language.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_more {
    background: url(/plugins/CoreShop/static/img/24/cart.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_report {
    background: url(/plugins/CoreShop/static/img/24/charts.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_report_carts {
    background: url(/plugins/CoreShop/static/img/24/cart.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_report_sales {
    background: url(/plugins/CoreShop/static/img/24/sales.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_category {
    background: url(/plugins/CoreShop/static/img/24/category.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_customer {
    background: url(/plugins/CoreShop/static/img/24/customer.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_quantity {
    background: url(/plugins/CoreShop/static/img/24/stock.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_report_payments {
    background: url(/plugins/CoreShop/static/img/24/payments.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_monitoring {
    background: url(/plugins/CoreShop/static/img/24/monitor.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_manufacturers, .pimcore_icon_coreShopManufacturer, .pimcore_icon_coreShopManufacturerMultiselect {
    background: url(/plugins/CoreShop/static/img/24/manufacturer.png) no-repeat scroll left center transparent !important;
}

.coreshop_icon_state, .pimcore_icon_coreShopState {
    background: url(/plugins/CoreShop/static/img/24/state.png) no-repeat scroll left center transparent !important;
}

.coreshop_carrier_delete {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px!important;
    border-width: 0;
}

.coreshop_carrier_delete.x-btn-over {
    background:transparent!important;
}