{% extends '@CoreShopFrontend/layout.html.twig' %}

{% block title %}
    {% block checkout_title %}{% endblock %} | {{ 'checkout'|trans }}
{% endblock %}

{% block content %}
    {% include '@CoreShopFrontend/Checkout/_order-steps.html.twig' %}
    <div class="checkout-step step-{{ identifier }}">
        {% block checkout %}
        {% endblock %}
    </div>
{% endblock %}