{% extends '@CoreShopFrontend/layout.html.twig' %}

{% block content %}
    <p>{{ 'coreshop.ui.checkout.thank_you'|trans }}</p>

    {% include '@CoreShopFrontend/Common/order_detail.html.twig' with {order: order} only %}
{% endblock %}