{% extends '@CoreShopFrontend/layout-full.html.twig' %}

{% block center %}
<div id="main-container" class="container p-0">
    {% include '@CoreShopFrontend/Common/flash_messages.html.twig' %}
</div>
{% endblock %}