{% if stockable.isTracked %}
<div class="alert alert-success">
    <strong>Available on Hand: {{ stockable.onHand ?: 0 }}</strong> / Reserved: {{ stockable.onHold ?: 0 }}
</div>
{% else %}
<div class="alert alert-warning">
    Stock Tracking is disabled
</div>
{% endif %}