<!--
  ~ CoreShop.
  ~
  ~ This source file is subject to the GNU General Public License version 3 (GPLv3)
  ~ For the full copyright and license information, please view the LICENSE.md and gpl-3.0.txt
  ~ files that are distributed with this source code.
  ~
  ~ @copyright  Copyright (c) 2015-2017 Dominik Pfaffenbauer (https://www.pfaffenbauer.at)
  ~ @license    https://www.coreshop.org/license     GNU General Public License version 3 (GPLv3)
  ~
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         processIsolation="false">
    <php>
        <server name="KERNEL_DIR" value="tests/app"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="1000"/>
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
    <!--<filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>-->
</phpunit>