{% extends '@CoreShopOrder/layout.html.twig' %}

{% block content %}
<div>
    www.coreshop.org
    <span class="pull-right">
        <span class="pageNumber"></span> / <span class="totalPages"></span>
    </span>
</div>
{% endblock %}