<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="three wide column">

            </div>
            <div class="three wide column">

            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; {{ 'coreshop.ui.your_store'|trans }}</h4>
                <p>{{ 'coreshop.ui.powered_by'|trans }} <a href="http://coreshop.org" target="_blank" style="color: #1abb9c;">CoreShop</a>.</p>
            </div>
        </div>
    </div>
</footer>
