{% if currentValues|length > 0 %}
<div class="list-group">
    <div class="list-group-item">
        {{ label|trans }}
    </div>

    <div class="list-group-item">
        <div class="filter-group filter-group-checkbox">
            {% for boolName, boolValue in currentValues %}
                <label class="checkbox">
                    <input name="{{ boolName }}" type="checkbox" value="1" {% if boolValue == 1 %} checked="checked" {% endif %}>
                    {{ boolName|trans }} {% if quantityUnit %} {{ quantityUnit.getAbbreviation }} {% endif %}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}